h1 {
  margin-bottom: 30px;
  margin-left: 30px;
}

a {
  margin: 20px 0 30px 30 px;
}

section {
  padding: 50px 0 50px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  column-gap: 24px;
  row-gap: 24px;
  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
